In [2]:
import pandas as pd
import csv

In [20]:
database = pd.read_csv("data/stocks.csv")
df = database[(database["FoundationYear"] > 2000)]
print(df)

      ID  Performance       Industry  FoundationYear  Environment  Social  \
1    RKA        40.53    electronics            2008            5       6
5    HBG        12.82    agriculture            2017            3       8
23   ZAW        37.40       clothing            2015            7       1
24   XZA        39.23   construction            2009            4       9
26   UNI       -36.65         mining            2008           10       1
46   AZS        32.94       clothing            2002            3       2
57   FTY        10.46    electronics            2018            9       8
61   DWA        23.59    electronics            2011            5       4
68   MPK        24.19  entertainment            2007            2       2
86   SQZ         0.96         mining            2002            1       2
91   HBQ       -40.88  entertainment            2018            1       2
92   NLT       -38.40    agriculture            2010            6      10
111  MSJ        34.24  entertainment            2006            4       3
132  JDB        -0.01       clothing            2009            2       4
152  NAD         4.46  entertainment            2020            4       2
153  FGG        39.87  entertainment            2019            8       5
189  WUD        37.70  entertainment            2005            5       4
229  NXF         3.59    electronics            2014           10       1
232  BKO        -0.24    agriculture            2017            2      10
247  LDH         5.51  entertainment            2012            2      10
261  QAL       -22.74    electronics            2011            1      10
274  DUL       -17.53    agriculture            2006            2       3
306  OQQ        19.33    electronics            2010            9      10
339  YYU         8.81    agriculture            2001            8       7
340  KGY        10.72         mining            2018            4      10
356  GNI       -17.24    electronics            2001            7       3
368  LEJ        45.73   construction            2011            2       4
369  LUC       -16.77   construction            2016            9       2
412  YKP        32.51       clothing            2006            6       4
416  VAH        22.33   construction            2007            2       9
450  PND       -17.32         energy            2007            8       4
459  HDA         8.91  entertainment            2016           10      10
467  MYG       -48.19         energy            2003            8       5
468  QUF        -6.01         mining            2019            4       9
492  AJQ        -8.19    agriculture            2013           10       4
497  LUN        29.76    agriculture            2013            1       5

     Governance
1             1
5             5
23            1
24            7
26            7
46           10
57           10
61            4
68            6
86            4
91            9
92           10
111           5
132           4
152           7
153           7
189           4
229           2
232           3
247           4
261           3
274           7
306           8
339           7
340           5
356          10
368           9
369           6
412           3
416           2
450           4
459           9
467           8
468          10
492           5
497          10

In [33]:
# Define the percentile threshold (e.g., top 20%)
# Group by 'Industry' and find the stock(s) with the maximum performance in each industry
top_performers = df[df["Industry"] == 'agriculture'].sort_values(by=["Performance"]).head(3)

# Sort the recommendations by performanc

# Display the recommended stocks
print(top_performers)

      ID  Performance     Industry  FoundationYear  Environment  Social  \
92   NLT       -38.40  agriculture            2010            6      10
274  DUL       -17.53  agriculture            2006            2       3
492  AJQ        -8.19  agriculture            2013           10       4

     Governance
92           10
274           7
492           5