In [2]:
import pandas as pd
import csv

In [34]:
database = pd.read_csv("data/stocks.csv")
df = database[(database["FoundationYear"] > 2000)]
df.groupby(["Industry"]).max()

,ID,Performance,FoundationYear,Environment,Social,Governance
Industry,,,,,,
agriculture,YYU,29.76,2017,10,10,10
clothing,ZAW,37.40,2015,7,4,10
construction,XZA,45.73,2016,9,9,9
electronics,RKA,40.53,2018,10,10,10
energy,PND,-17.32,2007,8,5,8
entertainment,WUD,39.87,2020,10,10,9
mining,UNI,10.72,2019,10,10,10

In [33]:
# Define the percentile threshold (e.g., top 20%)
# Group by 'Industry' and find the stock(s) with the maximum performance in each industry
top_performers = df[df["Industry"] == 'agriculture'].sort_values(by=["Performance"]).head(3)

# Sort the recommendations by performanc

# Display the recommended stocks
print(top_performers)

      ID  Performance     Industry  FoundationYear  Environment  Social  \
92   NLT       -38.40  agriculture            2010            6      10
274  DUL       -17.53  agriculture            2006            2       3
492  AJQ        -8.19  agriculture            2013           10       4

     Governance
92           10
274           7
492           5